* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.mobile {
  max-width: 520px;
  margin: 0 auto;
  border: 1px solid grey;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
 padding: 5px 15px 50px 15px;
 color: white;
 border: 1px solid #eee;
 background-color: #634E46FF;
}

.grid-item:nth-child(odd){
  background-color: #D61A3C;
}

.color-2 {
  background-color: #634E46FF;
}