* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-item {
  padding: 5px 15px 50px 15px;
  color: white;
  border: 1px solid #eee;
  background-color: #634e46ff;
}

.grid-item:nth-child(odd) {
  background-color: #d61a3c;
}

.color-2 {
  background-color: #634e46ff;
}

.country-data li {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  background-color: #d61a3c;
  color: #fff;
}

.country-data li:nth-child(even) {
  background-color: #634e46ff;
}
