* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.mobile {
  max-width: 520px;
  margin: 10px auto;
  border: 1px solid grey;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
 padding: 15px;
}